<!--
/*============================================;
Title: nodebucket;
Author: Professor Krasso ;
Date: 2 April 2021;
Modified By: Douglas Jenkins;
Description: built remaining pages
;===========================================*/
-->

<!-- A basic contact page -->
<div fxLayout="row" class="contact">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary" class="icon_sm">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>5577 Pleasant View</p>
      <p>Pasadena, California</p>
    </mat-card-content>
  </div>
<br>
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary" class="icon_sm">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct Line: 999-999-9999</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online, call us or even feel free to mail at the address above.
    </p>
</div>
