/*============================================;
Title: nodebucket;
Author: Professor Krasso ;
Date: 2 April 2021;
Modified By: Douglas Jenkins;
Description: built remaining pages
;===========================================*/

.source{
  font-size: 12px;
}

.whoops{
  font-size: 22px;
}
