<div fxLayout="column" class="about">
      <div>
        <img src="./assets/node.png">
      </div>
      <div>
        <em>
          <a href="https://iconscout.com/icons/node" target="_blank">Node Icon</a> by <a href="https://iconscout.com/contributors/fengquanli">Fengquan Li</a> on <a href="https://iconscout.com">Iconscout</a>
        </em>
      </div>
    <br>
    <h1 class="caption">A little about Nodebucket</h1>
    <p>
      Nodebucket is a great tool that is made for pretty much anyone who needs to plan out what task they need to do.
      Nodebucket was created in 2021 by a student at Bellevue University
      who is majoring Web Development. Nodebucket was created as a
      personal project with the thought of helping people.
      The whole purpose of this application is so that you can plan
      out things a lot easier.
    </p>
    <p>
      Nodebucket is easy to use as you just need to create
      the task that you would like to do. When you click on it a
      dialog box will pop up that allows you to create it to be
      added in the todo spot for however long you may need it there.
       When completed you then will be to drag and drop it in done if you
       will to track all of your finished task.
      Another option is that you may simply delete it in the todo or done position.
    </p>
    <p>
      Nodebucket was created so that you can make your
      life very easy while staying on track of all your tasks.
      It is accessible to use on different platforms such as
      phones, tablets, and desktops. Once you are able to provided the correct
      login with an acceptable employee id you will gain access to the this tool.
    </p>
    <p>
      Nodebucket is a tool made strictly to help make your life easier.
      Please feel feel to use this application to help make your
      life as easy as possible.
      It is the tool created for you so why not take advantage of it.
    </p>
  </div>

